	<footer>
		<div class="container">
			<div class="hidden-xs hidden-sm col-md-8 pull-right">
				<div id="sitelinks">
					<div class="column">
						<p>Shop</p>
						<ul>
							<li><a target="_parent" href="http://www.boostmobile.com/shop/phones/">Phones</a></li>
							<li><a target="_parent" href="http://www.boostmobile.com/shop/plans/">Plans</a></li>
							<li><a target="_parent" href="http://www.boostmobile.com/deals/">Online Deals</a></li>
							<li><a target="_parent" href="http://www.boostmobile.com/shop/accessories/">Accessories</a></li>
							<li><a target="_parent" href="https://checkout.boostmobile.com/bpdirect/boost/OrderStatusLookup.do?action=view">Track Order</a></li>
							<li><a target="_parent" href="http://www.boostmobile.com/stores/">Find a Store</a></li>
						</ul>
					</div>
					<div class="column">
						<p>Services</p>
						<ul>
							<li><a target="_parent" href="http://www.boostmobile.com/shop/plans/international-services/">International Rates</a></li>
							<li><a target="_parent" href="http://www.boostmobile.com/shop/plans/phone-insurance/">Phone Insurance</a></li>
							<li><a target="_parent" href="http://www.boostmobile.com/shop/plans/referral-program/">Referral Program</a></li>
							<li><a target="_parent" href="https://buyback.boostmobile.com/bst/">Buyback Program</a></li>
						</ul>
					</div>
					<div class="column">
						<p>Support</p>
						<ul>
							<li><a target="_parent" href="http://devicehelp.boostmobile.com/">Device Support</a></li>
							<li><a target="_parent" href="http://www.boostmobile.com/support/faq/">FAQs</a></li>
							<li><a target="_parent" href="http://www.boostmobile.com/about/legal/return-policy/">Return Policy</a></li>
							<li><a target="_parent" href="http://www.boostmobile.com/coverage/">Coverage Map</a></li>
							<li><a target="_parent" href="http://www.boostmobile.com/support/contact-customer-service/">Contact Us</a></li>
						</ul>
					</div>
					<div class="column">
						<p>Manage &amp; Pay</p>
						<ul>
							<li><a target="_parent" href="https://apps.boostmobile.com/boostApp/accountLogin.do">My Account</a></li>
							<li><a target="_parent" href="https://apps.boostmobile.com/boostApp/handsetIdentifier.do">Activate</a></li>
							<li><a target="_parent" href="http://www.boostmobile.com/reboost/">Re-Boost/Add Money</a></li>
						</ul>
					</div>
					<div class="column last">
						<p>About</p>
						<ul>
							<li><a target="_parent" href="http://newsroom.boostmobile.com/">Newsroom</a></li> 
							<li><a target="_parent" href="http://www.boostmobile.com/about/careers/">Careers</a></li>
							<li><a target="_parent" href="http://www.boostmobile.com/about/dealers/">Dealer Opportunities</a></li>
							<li><a target="_parent" href="http://www.boostmobile.com/about/affiliate-program/">Affiliate Program</a></li>
							<li><a target="_parent" href="http://www.boostmobile.com/sitemap/">Sitemap</a></li> 
						</ul>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-7">
				<p>©2015 Boost Worldwide, Inc. All rights reserved. <a>Legal</a><a>Privacy</a><a>CTIA/Regulatory</a></p>
			</div>
			<div class="hidden-xs hidden-sm col-md-5">
				<p>Find a store: <input placeholder="Enter Zip Code"></input> <a class="btn btn-sm btn-primary">Submit</a></p>
			</div>
		</div>
	</footer>
