<header class="navmenu navmenu-default navmenu-fixed-left offcanvas-xs" ng-controller="cartController as cartController" id="cartController">
  <div class="container">
    <div class="col-sm-3 col-md-4 linkHome hidden-xs">
      <a href="{{pathMap._home._hash}}|Nav:Logo" alt="Sprint Prepaid">Home</a>
    </div>
    <div class="col-xs-12 col-sm-9 col-md-8 pull-right">
      <div class="navbar pull-left hidden-xs topnav">
        <ul class="navbar-wrapper">
          <li class="navbar-item"><a>Español</a></li>
          <li class="navbar-item"><a id="coverageMapLink" ng-href="{{pathMap._coverageMap._hash}}">Coverage</a></li>
          <li class="navbar-item"><a ng-href="{{pathMap._storeMap._hash}}">Find a Store</a></li>
        </ul>
      </div>
      <div class="navbar pull-right hidden-xs topnav">
        <ul class="navbar-wrapper">
          <li class="navbar-item"><a href="https://myaccountportal.sprint.com/servlet/ecare?inf_action=login&action=accountBill&sl=?INTNAV=:MyAcct:Refill">Reboost</a></li>
          <li class="navbar-item"><a href="http://support.sprint.com/support/?INTNAV=SPP:Support#!/?INTNAV=Nav:Support">Support</a></li>
          <li class="navbar-item"><a href="https://mysprint.sprint.com/mysprint/pages/secure/myaccount/landingPage.jsp?INTNAV=:MyAcct:Activate">Activate</a></li>
          <li class="navbar-item"><a href="https://mysprint.sprint.com/mysprint/pages/sl/global/login.jsp?INTNAV=:MyAcct">My Account</a></li>
        </ul>
      </div>
      <div class="visible-xs greeting">
        <button type="button" class="navbar-toggle opened" data-toggle="offcanvas" data-target=".navmenu">
          <i class="glyphicon glyphicon-remove"></i>
        </button>
        <p class="greeting-name"><span>Hello, </span>UserName</p>
        <a class="signin" href="">Sign Out</a>
      </div>
      <ul class="nav navmenu-nav nav-pills hidden-sm hidden-md hidden-lg">
        <li><a href="">My Account</a></li>
        <li><a href="">Reboost</a></li>
        <li><a href="framework_phones.html">Phones</a></li>
        <li><a href="framework_plans.html">Plans</a></li>
        <li><a href="{{pathMap._phoneDeals._hash}}">Online Deals</a></li>
        <li><a href="{{pathMap._phoneAccessories._hash}}">Accessories</a></li>
        <li><a href="{{pathMap._market._hash}}">Boost Markets</a></li>
        <li><a href="">Support</a></li>
        <li><a href="">Activate</a></li>
        <li><a href="">Español</a></li>
      </ul>
      <ul class="nav navmenu-nav nav-pills hidden-xs">
        <li class="dropdown">
          <a class="dropdown-toggle" href="{{pathMap._shop._hash}}|Nav:Shop">Shop <b class="caret"></b></a>
          <ul class="dropdown-menu sub-menu">
            <li data-toggle="collapse" data-target=".nav-collapse"><a href="{{pathMap._phones._hash}}|Nav:Shop:AllPhones">All Phones</a></li>
            <li><a href="{{pathMap._phoneDeals._hash}}">Online Deals</a></li>
            <li><a href="{{pathMap._phoneAccessories._hash}}">Accessories</a></li>
            <li><a href="{{pathMap._market._hash}}">Boost Market</a></li>
            <li><a href="{{pathMap._orderStatus._hash}}">Order Status</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" href="{{pathMap._plan._hash}}|Nav:Plans:AllPlans">Plans <b class="caret"></b></a>
          <ul class="dropdown-menu sub-menu">
            <li><a href="framework_plans.html">Monthly Plans</a></li>
            <li><a href="framework_plans.html">Daily Plans</a></li>
            <li><a href="framework_plans.html">Mobile Hotspot</a></li>
            <li><a href="framework_plans.html">International Calling</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" href="framework_plans.html">Why Choose Boost <b class="caret"></b></a>
          <ul class="dropdown-menu sub-menu">
            <li><a href="">Value Without Compromise</a></li>
            <li><a href="">Why Choose Prepaid</a></li>
            <li><a href="">Support Military Families</a></li>
            <li><a href="">Be Social</a></li>
          </ul>
        </li>
        <li class="searchHeader visible-sm visible-md visible-lg pull-right">
          <p>Search: <input></input><a><i class="glyphicon glyphicon-search"></i></a></p>
        </li>
      </ul>
    </div>
  </div>
</header>
