<div ng-if="app.isCurrentContext(pathMap._home._formatedHash)">
  <section class="promo-full">
    <div class="col-xs-12">
      <banner-item  url="get_banner_home" index="0" class="promo01" options="bg_image,url,title,description,link_text"></banner-item>
    </div>
  </section>
  <phone-genie></phone-genie>
  <section class="notice">
    <h3>New Customers! Call our live experts to pick your perfect phone &amp; plan <span>Call Now! 1-855-364-9032</span></h3>
  </section>
  <section class="promo-half">
    <div class="col-xs-6">
      <banner-item url="get_banner_home" index="1" class="promo02" options="url,image,title,description,link_text"></banner-item>
    </div>
    <div class="col-xs-6">
      <banner-item url="get_banner_home" index="2" class="promo03" options="url,image,title,description,link_text"></banner-item>
    </div>
  </section>
  <section class="fourblocks">
    <div class="col-sm-3">
      <a class="first">
        <h3>Certified Pre-owned Phones</h3>
        <p>Get a phone that looks like new - at a fraction of the cost. Inspected, tested &amp; equipped with the latest software.</p>
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      </a>
    </div>
    <div class="col-sm-3">
      <a>
        <h3>International Calling Plans</h3>
        <p>International calling options to fit your budget and lifestyle.</p>
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      </a>
    </div>
    <div class="col-sm-3">
      <a>
        <h3>Mobile Hotspot</h3>
        <p>Wi-Fi as low as $3/day.</p>
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      </a>
    </div>
    <div class="col-sm-3">
      <a class="last">
        <h3>Amazing phones, amazing prices</h3>
        <p>Free Shipping too! All the time. No minimums. No kidding.</p>
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      </a>
    </div>
  </section>
</div>
